:root {
  --black-color: #3d3d3d;
  --grey-color: #D3D3D3;
  --dark-grey-color: #707070;
  --light-grey-color: #f5f4f4;
  --bg-color: #F5F5F5;
  --white-color: #F5F5F5;
  --pink-color : #F65275;
  --light-pink-color : #ffa0b4;
  --yellow-color: #FFB600;
  --light-yellow-color: #ffecbb;
  --container-bg-color: #fff;
  --container-width: 1200px;
}

body {
  background-color: var(--bg-color);
  color: var(--black-color);
  font-family:"museo-sans";
  font-size: 18px;
  line-height: 1.5em;
  padding: 0 10px;
}

h1 {
  color: var(--pink-color);
}

h3 {
  color: var(--pink-color);
  font-family: "museo-slab";
  font-size: 1.5em;
  line-height: 1.25em;
  padding: 25px 0;
  text-transform: uppercase;
}

p {
  color: var(--black-color);
  padding-top: 25px;
}

a {
  color: var(--pink-color);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 3px;
}

a:hover {
  color: var(--yellow-color);
}

.blurb {
  border-left: 5px solid var(--yellow-color);
  padding: 25px;
  font-size: 1em;
}

.blurb::first-letter {
  color: var(--yellow-color);
  font-family:"museo-slab";
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  padding: 0px;
  margin-right: 8px;
  float: left;
}

.blurb::first-line {
  font-family:"baskerville-urw";
  color: var(--dark-grey-color);
  font-size: 1.25em;
}

.site-container {
  background-color: var(--container-bg-color);
  color: var(--black-color);
  margin: 50px auto;
  padding: 25px;
  max-width: var(--container-width);
  filter: drop-shadow(5px 5px 10px var(--grey-color));
}

.site-header {
  border-bottom: 10px double var(--grey-color);
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.site-header nav {
  display: flex;
  font-family: "museo-slab";
  padding: 10px;
  text-transform: uppercase;
}

.site-header nav .nav-container {
  display: flex;
}

.site-header nav .nav-container ul {
  align-self: center;
}

.site-header-cntr {
  display: flex;
  justify-content: center;
}

.site-header .nav a {
  color: var(--pink-color);
  font-weight: 700;
  font-size: 1em;
  line-height: em;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 3px;
}

.site-header .nav a:hover {
  color: var(--yellow-color);
}

.home-link {
  display: block;
  flex-grow: 1;
}

.home-link a {
  display: block;
  width: 300px;
}

.home-link-lg {
  align-content: center;
}

.home-link-lg img {
  width: 500px;
  padding-top: 75px;
}

.big-link {
  display: block;
  margin: 0 auto;
}

.big-link a {
  display: block;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-family: "museo-slab";
  font-size: 1em;
  font-weight: 700;
  line-height: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  margin: 25px auto;
  width: 75%;
}

.big-link a:hover {
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.intro {
  font-family: "museo-slab";
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25em;
  margin: 5px 25px 5px 25px;
  padding: 25px;
}

.intro em {
  color: var(--pink-color);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.bttn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.button {
  width: 75%;
  background-color: var(--light-pink-color);
  border: solid transparent;
  border-radius: 10px;
  color: var(--black-color);
  cursor: pointer;
  font-family: "museo-slab";
  font-size: .75em;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 3em;
  outline: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--pink-color);
  color: var(--white-color)
}

.sub-section {
  border-top: 2px dashed var(--yellow-color);
  margin: 25px 0;
  padding: 25px 0;
}

.projects-project {
  background-color: var(--light-grey-color);
  padding: 25px 10px;
  margin: 5px;
}

.project-info {
  text-align: center;
}

.project-category {
  font-family:"baskerville-urw";
  line-height: .75em;
}

/* .projects {
  display: grid;
  grid-template-areas: "a a a b b c"
                       "a a a b b d"
                       "e f f g g g"
                       "h f f g g g";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.projects .project-a { grid-area: a; }
.projects .project-b { grid-area: b; }
.projects .project-c { grid-area: c; }
.projects .project-d { grid-area: d; }
.projects .project-e { grid-area: e; }
.projects .project-f { grid-area: f; }
.projects .project-g { grid-area: g; }
.projects .project-h { grid-area: h; } */

.hello-img {
  width: 100%;
}

.site-footer {
  font-family: "museo-slab";
  color: var(--dark-grey-color);
  border-top: 10px double var(--light-yellow-color);
  font-size: .75em;
  line-height: 2.50em;
  margin: 25px auto;
  max-width: var(--container-width);
  padding-top: 25px;
  text-align: center;
}

.sub-section-reachout-1, .sub-section-reachout-2, .sub-section-reachout-3 {
  padding: 0 25px;
}

.footer-emph {
  color: var(--yellow-color);
  font-weight: bolder;
}

.social-icons {
  font-size: 2.5em;
  list-style: none;
  text-align:center;
}

.social-icons ul li {
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  padding: 0 25px;
}

.social-icons-small {
  list-style: none;
  border-left: 5px solid var(--yellow-color);
}

.social-icons-small ul li {
  margin: 0;
  padding: 0;
}

.social-icons-small a {
  padding-right: 10px;
}

.sub-section-reachout {
  border-top: 2px dashed var(--yellow-color);
  padding: 25px 0;
}

.sub-section-reachout-3 a {
  display: inline-block;
  background-color: var(--yellow-color);
  color: var(--black-color);
  font-family: "museo-slab";
  font-size: .75em;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  margin: 5px 0 0 0;
  width: 100%;
}

.sub-section-reachout-3 a:hover {
  background-color: var(--pink-color);
  color: var(--white-color);
}

.sub-section-contact {
  border: 2px dashed var(--light-yellow-color);
  padding: 10px;
  text-align: center;
}

.sub-section-contact em {
  color: var(--pink-color);
}

@media only screen and (min-width: 769px) {
  body {
    font-size: 16px;
  }

  .home-link a {
    width: 275px;
  }

  .sub-section-intro {
    display: flex;
  }

  .sub-section-intro-left {
    width: 40%;
  }

  .sub-section-intro-right {
    width: 60%;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projects-project {
    /* width: 50%; */
  }

  .project-link {
    text-decoration: none;
    font-family: "museo-slab";
    font-weight: 700;
  }

  .sub-section-reachout {
    display: flex;
  }

  .sub-section-reachout-1 {
    width: 30%;
  }

  .sub-section-reachout-2 {
    width: 40%;
  }

  .sub-section-reachout-3 {
    width: 30%;
  }

  .big-link a {
    width: 50%;
  }
}

@media only screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  .site-header .nav {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .site-header .nav li {
    padding: 0 10px;
    border-right: solid 1px var(--light-yellow-color);
    line-height: .75em;
  }
  
  .site-header .nav li:last-of-type {
    border-right: 0; 
  }

  .home-link a {
    width: 200px;
  }

  .big-link a {
    width: 25%;
  }

}
