:root {
  --black-color: #3d3d3d;
  --grey-color: #D3D3D3;
  --dark-grey-color: #707070;
  --bg-color: #F5F5F5;
  --teal-color : #00A198;
  --font-size: 18px;
  --container-bg-color: #fff;
  --container-width: 1300px;
}

body {
  background-color: var(--bg-color);
  color: var(--black-color);
  font-family:"museo-sans";
  font-size: var(--font-size);
  line-height: 2em;
}

h1 {
  color: var(--teal-color);
}

p {
  color: var(--black-color);
}

.site-container {
  background-color: var(--container-bg-color);
  color: var(--black-color);
  margin: 50px auto;
  padding: 10px;
  max-width: var(--container-width);
}

.site-header nav {
  display: flex;
  font-family: "museo-slab";
  padding: 10px;
  text-transform: uppercase;
}

.site-header-cntr {
  display: flex;
  justify-content: center;
}

.site-header .nav a {
  color: var(--black-color);
  text-decoration: none;
}

.site-header .nav a:hover {
  color: var(--teal-color);
}

.home-link {
  display: block;
  flex-grow: 1;
}

.home-link img {
  width: 250px;
}

.home-link-lg {
  align-content: center;
}

.home-link-lg img {
  width: 500px;
}

.intro {
  border-bottom: 1px solid var(--grey-color);
  font-family: "museo-slab";
  font-size: 2em;
  line-height: 1.25em;
  padding: 0px 0px 25px 0px;
  margin: 20px 0px;
}

.intro em {
  color: var(--teal-color);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.site-footer {
  font-family: "museo-slab";
  color: var(--dark-grey-color);
  font-size: .75em;
  line-height: 2.50em;
  margin: 25px auto;
  max-width: var(--container-width);
  text-align: center;
}

@media only screen and (min-width: 769px) {
  :root {
    --font-size: 20px;
  }

  .home-link img {
    width: 150px;
  }

}

.footer-emph {
  color: var(--teal-color);
  font-weight: bolder;
}

@media only screen and (min-width: 960px) {
  .site-header .nav {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .site-header .nav li {
    padding: 0 10px;
    border-right: solid 1px var(--grey-color);
    line-height: .75em;
  }
  
  .site-header .nav li:last-of-type {
    border-right: 0; 
  }

  .home-link img {
    width: 125px;
  }
}
