---
title: "| ANDREA OLESON | Graphic Design. Lettering. Illustration |"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://use.typekit.net/hjs4ftq.css">
    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://kit.fontawesome.com/8a5740a80d.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <main class="site-container">
      <header class="site-header">
        <nav>
          <div class="home-link">
            <a href="/"><img src="/img/andreaoleson_logo.svg" alt="Andrea Oleson"></a>
          </div>
          <div class="nav-container">
            <ul role="list" class="nav">
              <li>
                <a href="/design">Design</a>
              </li>
              <li>
                <a href="/lettering">Lettering</a>
              </li>
              <li>
                <a href="/illustration">Illustration</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      
      {{ content }}
    </main>

    {% include 'footer.html' %}
  </body>
</html>
